* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f2f2fd;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container {
  //   border: 2px solid red;
  padding: 1px;
  margin: 1px;
  width: auto;
}

.row {
  // border: 2px solid rgb(13, 255, 0);
  padding: 1px;
  margin: 1px;
}

.column {
  border: 2px solid rgb(0, 34, 255);
  padding: 1px;
  margin: 1px;
}

#cardItselfaboutus {
  width: 165vh;
  height: 100vh;
  //   border: 2px solid green;
  border-radius: 40px;
  background: url("https://s3-alpha-sig.figma.com/img/5ba0/9709/93e0ba180516990dd8a51489631d4d02?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HThegPSYPcW3HCeuRCdP9tYOm4dRKxzcS2L-4ruDeiu5Gr9PVXeB3fyTbBsfHEECcgshoafkGrW-~dx5~xaPdj8SpfdjLaSo34zZmoQ7uK527~-QHvaEtP0deHwj5Jt2h8RtUY2Oc-fXZvHxQnrXqSY78imgf51JCRuBnUSKa0vlIH7fqfbpGX1VU~tVbL3BlLEA35twGCrNMHJ9ht33QxKzQhhnKBvHlEQmrETw4p2evovW2Hy3wLL8wNzYPC9w7WdsDHuJ9FSKc~k7T8JQEf5QGetpEPv367dmLbyjxuOmJ4R5~gOnqWfHDcb25hGs9ri00AM800XJdo3nSenIrg__");

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

/* NewsCard.scss */

@media (max-width: 768px) {
  .col {
    width: 100%;
  }
  .col .card {
    width: 100%;
  }
}

/* NewsCard.scss */

#TaskCard,
#PersonsCard {
  width: 100%;
  max-width: 400px; /* İstediğiniz maksimum genişlik */
  margin: auto;
}

.card-body {
  overflow: hidden; /* İçeriğin taşmasını engellemek için */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}

#title {
//   border: 2px solid red;
  margin-right: 90%;
  font-family: Mohave;
  font-size: 70px;
  font-weight: 400;
  line-height: 94.29px;
  text-align: left;
}

#explanation {
  text-align: left;
//   border: 2px solid red;
  font-family: Mohave;
  font-size: 25px;
  font-weight: 400;
  line-height: 33.68px;
  text-align: left;
}
