

.sidebar {
  min-height: 100%; // ????
  max-width: 180px;
  height: 100%; /* Viewport yüksekliği kadar */
}

.sidebar {
  font-size: 1.5rem;
  color: black;
  width: 100%;
  background: url('https://s3-alpha-sig.figma.com/img/3185/9c39/bcb9373b12a6ecfe9d8ce640e3ea52ce?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fvBsa6W2-B1Wx0tmIUQoQgXcYqDUlix4LmYXc1Kpj0~XWw309wd4bprq367wyz917sGu3SoJL2FDPNh-HGWd5nwNph32Z7EXe4SP1kIQ~FiWhxf8NgHp2aMG-ZW4egGMyAfNOTyj7cVPslFY8d3kxasdCAAWTWBABW4A~LuKA7A5-w6~NywG00c8mzjy7vqZcwgJOEty4of0mTvFk1jmIEDJRw2lhRfiDXI9x6U9p~lSbBPs3FRMpQa7K1IXn94uNhFa26o07cutEcwURSdmMQjrEVoD7ZvJ7A4uqunJR7D3Uo~ai6A2OGaeEQTuZ3aiMFS~qd146hNgqj204y0VeA__');
  
  background-size: cover; /* Arka plan resmini kaplamak için */
  background-position: center; /* Arka plan resmini ortalamak için */
  padding: 1rem;
}

@media (max-width: 576px) {
  .sidebar {
    min-width: 30%;
    box-sizing: border-box;
    font-size: 1rem; /* Küçük ekranlarda font boyutunu küçültür */
  }

  .sidebar ul {
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    padding: 0.25rem 0; /* Küçük ekranlarda her öğe için iç boşluğu azaltır */
  }

  .sidebar.ul.li.svg {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 30%;
    box-sizing: border-box;
    font-size: 1rem; /* Orta ekranlarda font boyutunu küçültür */
  }

  .sidebar ul {
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    padding: 0.25rem 0; /* Küçük ekranlarda her öğe için iç boşluğu azaltır */
  }
}

.menulist {
  padding-left: 0;
  list-style-type: none;
  width: auto;
  height: 100vh;
  text-align: center;
  justify-content: end;
}

.menulist > li {
  position: relative;
  width: 100%;
  margin-block: 1.3rem;
  height: 4rem;
}

.menulist > li:hover {
  background-color: #f2f2fd;
  color: black;
  border-top-left-radius: 100vh;
  border-bottom-left-radius: 100vh;
}

.menulist > li:hover::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 100%;
  bottom: -2rem;
  width: 1rem;
  background-color: #f2f2fd;
  background-size: cover;
  clip-path: url(#my-clip-path);
}


#buttonmenu{
  width: 120px;
  height: 33px;
  top: 78px;
  left: 28px;
  gap: 0px;
  opacity: 0px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(161, 95, 244, 1);

  border-radius: 10px;
  margin-right: 10%;
}

.svg {
  //*hide the SVG *//
  position: absolute;
  width: 0;
  height: 0;
}


