.sidebar {
  font-size: 1.5rem;
  color: black;
  width: fit-content;
  background: linear-gradient(
    to top right,
    rgba(238, 174, 202, 1) 40%,
    rgba(148, 187, 233, 1) 72%,
    

  );
  
  background-size: cover; /* Arka plan resmini kaplamak için */
  background-position: center; /* Arka plan resmini ortalamak için */
  padding: 1rem;
}

@media (max-width: 576px) {
  .sidebar {
    min-width: 30%;
    box-sizing: border-box;
    font-size: 1rem; /* Küçük ekranlarda font boyutunu küçültür */
  }

  .sidebar ul {
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    padding: 0.25rem 0; /* Küçük ekranlarda her öğe için iç boşluğu azaltır */
  }

  .sidebar.ul.li.svg {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 30%;
    box-sizing: border-box;
    font-size: 1rem; /* Orta ekranlarda font boyutunu küçültür */
  }

  .sidebar ul {
    padding: 0;
    margin: 0;
  }

  .sidebar li {
    padding: 0.25rem 0; /* Küçük ekranlarda her öğe için iç boşluğu azaltır */
  }
}

.menulist {
  padding-left: 0;
  list-style-type: none;
  width: auto;
  height: 100vh;
  text-align: center;
  justify-content: end;
}

.menulist > li {
  position: relative;
  width: 100%;
  margin-block: 1.3rem;
  height: 4rem;
}

.menulist > li:hover {
  background-color: #f5daff;
  color: black;
  border-top-left-radius: 100vh;
  border-bottom-left-radius: 100vh;
}

.menulist > li:hover::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 100%;
  bottom: -2rem;
  width: 1rem;
  background-color: #f5daff;
  background-size: cover;
  clip-path: url(#my-clip-path);
}

.btn {
  width: 120px;
  height: 33px;
  top: 78px;
  left: 28px;
  gap: 0px;
  opacity: 0px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(161, 95, 244, 1);

  border-radius: 10px;
  margin-right: 10%;
}

.svg {
  //*hide the SVG *//
  position: absolute;
  width: 0;
  height: 0;
}

.row {
  justify-content: center;
}
