#navbar {
  background-color: linear-gradient(
    269.13deg,
    rgba(245, 218, 255, 0.6) -1.6%,
    rgba(255, 255, 255, 0) 77.6%
  );

  text-align: center;
  width: 100%;
}

#form {
  border-radius: 40px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#Profile {
  font-family: Raleway;
  font-size: auto;
  font-weight: 700;
  line-height: 23.48px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

#Profile:hover {
  background: rgba(157, 157, 255, 1);
 
 border-radius: 10px;
}




#Aboutus {
  font-family: Raleway;
  font-size: auto;
  font-weight: 700;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

#Aboutus:hover {
  background: rgba(157, 157, 255, 1);
 
 border-radius: 10px;
}


#Contact {
  font-family: Raleway;
  font-size: auto;
  font-weight: 700;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}


#Contact:hover {
  background: rgba(157, 157, 255, 1);
 
 border-radius: 10px;
}


#Exit {
  font-family: Raleway;
  font-size: auto;
  font-weight: 700;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

#form::placeholder {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
